<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">
                <a href="/#/videos"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
            </p>
            <p class="navbar-text">{{ ::video.name }}</p>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-sm-6">
        <div video-interface></div>
    </div>
    <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="info in video.infos" ng-click="setTime(info.time)">
                <span seconds-to-minutes="{{ ::info.time }}"></span> {{ ::info.label }}
            </li>
        </ul>
    </div>
</div>
