<!-- <video width="320" height="240" controls>
    <source ng-src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/ogg">
    Your browser does not support the video tag.
</video> -->
<div style="float: left">
    <ul>
        <li ng-repeat="video in videos">{{ video.name }}</li>
    </ul>
</div>
<!-- <video width="320" height="240" controls>
    <source src="http://samples.mplayerhq.hu/ogg/Theora/theora-a4_v6-k250-s0_2.ogg" type="video/ogg">
    Your browser does not support the video tag.
</video> -->
